.author-solution-confirmation-modal__buttons-container {
    display: grid;
    width: 100%;
    grid-gap: var(--spacing-8);
    gap: var(--spacing-8);

    margin-block-start: var(--spacing-40);
}

    @media (max-width: 767px) {.author-solution-confirmation-modal__buttons-container {
        margin-block-start: var(--spacing-32)
}
    }

.author-solution-confirmation-modal__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
}

.author-solution-confirmation-modal__image-wrapper {
    position: relative;
    width: 100%;
    padding-block: 20%; /* (2 / 5) * 100% = 40% / 2 (top и bottom) = 20% */
    overflow: hidden;
}

.author-solution-confirmation-modal__showings-left {
    font: var(--font-ys-body-16-regular-ui);
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-accent-main-a);
    background-color: var(--color-palette-blue-200-a);

    display: flex;
    align-items: center;
    gap: var(--spacing-8);

    margin-block-start: var(--spacing-16);
    padding-block: var(--spacing-8);
    padding-inline: var(--spacing-8) var(--spacing-12);
    border-radius: var(--border-radius-4);
}

.author-solution-confirmation-modal__title {
    font: var(--font-ys-header-24-regular);
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-align: center;

    margin-block: var(--spacing-8) 0;
}

.author-solution-confirmation-modal__text {
    font: var(--font-ys-body-16-regular-paragraph);
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-align: center;

    margin-block: var(--spacing-8) 0;
}

.author-solution-confirmation-modal {
    display: grid;
    justify-items: center;
    width: 540px;

    color: var(--color-content-primary);

    padding: var(--spacing-24);
}

    @media (max-width: 767px) {.author-solution-confirmation-modal {
        padding: var(--spacing-16)
}
    }

@media (max-width: 767px) {.author-solution-confirmation-modal__overlay {
        align-items: end;

        padding-inline: var(--spacing-8);
        padding-block-end: var(--spacing-8)
}
    }

.author-solution-confirmation-modal__close {
    position: absolute;
    top: var(--spacing-8);
    right: var(--spacing-8);
}

.prisma-toggle__label {
    display: block;
    position: relative;
    cursor: pointer;
}

.prisma-toggle__hidden-input {
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.prisma-toggle-theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prisma-toggle-theme_disabled {
        opacity: 0.75;
    }

.prisma-toggle-theme__container {
    width: 32px;
    height: 16px;
    border-radius: 24px;
    border-radius: var(--border-radius-24, 24px);
    padding: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;
}

.prisma-toggle-theme__container_off {
        background-color: var(--color-background-glassy-b);
    }

.prisma-toggle-theme__container_on {
        background-color: var(--color-accent-neutral);
    }

.prisma-toggle-theme__toggler {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    box-shadow: var(--shadow-small-hidden);
    transition:
        transform 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
    cursor: pointer;
}

.prisma-toggle-theme__toggler_off {
        background-color: var(--color-background-default);
        transform: translateX(0);
    }

.prisma-toggle-theme__toggler_on {
        background-color: var(--color-background-default);
        transform: translateX(16px);
    }

.author-solution-modal__code-viewer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.author-solution-modal__tools {
    font: var(--font-ys-caption-14-regular);
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-content-secondary);

    display: flex;
    align-self: end;

    gap: var(--spacing-8);
    padding-inline-end: 5px;
    padding-block: 5px;

    -webkit-user-select: none;

       -moz-user-select: none;

            user-select: none;
}

.author-solution-modal__clipboard-button {
    transition:
        opacity 0.15s,
        color 0.15s;

    opacity: 0;

    -webkit-appearance: none;

       -moz-appearance: none;

            appearance: none;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}

.author-solution-modal__clipboard-button:active {
    color: var(--color-content-primary);
}

.author-solution-modal__clipboard-button:hover {
    color: var(--color-content-primary);
}

.author-solution-modal__clipboard-button:focus {
    opacity: 1;
}

.author-solution-modal__code-tabs-panel {
    width: 100%;
    height: 100%;

    background-color: var(--color-background-alternate);

    border-right: solid var(--color-background-stroke) 1px;
    box-sizing: border-box;
}

    @media (max-width: 767px) {.author-solution-modal__code-tabs-panel {
        overflow: scroll
}
    }

.author-solution-modal__code-tabs-panel:last-child {
    border-right: none;
}

.author-solution-modal__code-tabs-panel td pre {
    line-height: 19px;
    font-size: 13px;
}

/* Чтобы сделать все строки однотипными */

.author-solution-modal__code-tabs-panel td:last-child {
    padding: 0;
}

.author-solution-modal__code-tabs-panel:hover .author-solution-modal__clipboard-button {
    opacity: 1;
}

.author-solution-modal__code-tabs-panel_divide::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% - 0.5px)); /* PixelPerfect */
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--color-background-stroke);
}

/* Чтобы сделать все строки однотипными на десктопе в режиме диффа */

.author-solution-modal__code-tabs-panel_divide td:nth-child(3n) {
    padding: 0;
}

.author-solution-modal__code-tabs-panel_split-view {
    width: 50%;
}

/* Убираем лишний ряд номеров строк для дефолтного режима */

.author-solution-modal__code-tabs-panel_split-view td:first-child {
    display: none;
}

.author-solution-modal__panel {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;

    border-bottom: solid var(--color-background-stroke) 1px;
    border-right: solid var(--color-background-stroke) 1px;
    gap: var(--spacing-16);
    box-sizing: border-box;
    justify-content: space-between;
}

    @media (max-width: 767px) {.author-solution-modal__panel {
        flex-direction: column;
        align-items: start;
        gap: 0;

        width: 100%
}
    }

.author-solution-modal__panel:last-child {
    border-right: none;
}

.author-solution-modal__wrapper-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--spacing-12) var(--spacing-16);
}

    @media (max-width: 767px) {.author-solution-modal__wrapper-title {
        flex-direction: column;
        align-items: start;
        gap: var(--spacing-16);

        padding-block: var(--spacing-16)
}
    }

.author-solution-modal__title {
    font: var(--font-ys-caption-14-regular);
    font-feature-settings: 'pnum' on, 'lnum' on;

    margin: 0;
}

    @media (max-width: 767px) {.author-solution-modal__title {
        font: var(--font-ys-header-24-regular);
        font-feature-settings: 'pnum' on, 'lnum' on
}
    }

.author-solution-modal__close {
    margin-inline-end: var(--spacing-8);
}

    @media (max-width: 767px) {.author-solution-modal__close {
        margin-block-start: var(--spacing-8);
        position: absolute;
        right: 0;
        top: 0
}
    }

.author-solution-modal__content {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.author-solution-modal__panels {
    display: flex;
}

.author-solution-modal__code-panels {
    display: flex;
    flex-grow: 1;
}

@media (max-width: 767px) {
    .author-solution-modal__code-panels td:first-child {
        display: none;
    }
}

.author-solution-modal__toggle {
    font: var(--font-ys-caption-14-regular);
    font-feature-settings: 'pnum' on, 'lnum' on;

    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: var(--spacing-8);
}

    @media (max-width: 767px) {.author-solution-modal__toggle {
        font: var(--font-ys-body-16-regular-ui);
        font-feature-settings: 'pnum' on, 'lnum' on;

        padding-block-end: var(--spacing-16);
        padding-inline: var(--spacing-16)
}
    }

.author-solution-modal__controls {
    display: flex;
    gap: var(--spacing-16);
}

.author-solution-modal {
    display: grid;
    width: calc(100% - var(--spacing-64) * 2);
    height: calc(100% - var(--spacing-24) * 2);

    color: var(--color-content-primary);
}

    @media (max-width: 767px) {.author-solution-modal {
        width: unset;
        height: calc(100% - var(--spacing-8))
}
    }

@media (max-width: 767px) {.author-solution-modal__overlay {
        align-items: end;

        padding-inline: var(--spacing-8);
        padding-block-end: var(--spacing-8)
}
    }


/*# sourceMappingURL=https://s3.mds.yandex.net/wirth-sourcemaps/v2.889/build/8017.build.css.map*/